[user]
    name  = Andrés Cimadamore
    email = andrescimadamore@gmail.com
[alias]
    l  = log --oneline
    st = status
    a  = add
    aa = add --all
    c  = commit -v
    cm = commit -m
    co = checkout
[core]
    excludesFile = ~/.gitignore
    editor = vim
[push]
    default = current
[credential]
    helper = cache
[include]
    path = ~/.gitconfig.local
